main {
    margin: auto;
    max-width: 1024px;
}

.recommendations {
    padding: 8px;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    gap: 24px;
}

.recommended-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-width: 168px;
    border-radius: 12px;
    padding: 16px;
    background-color: #ddd;
    border: solid #aaa 3px;
}

.recommended-title {
    font-size: 24px;
    color: black;
    height: 120px;
}

.recommended-join {
    background-color: #aaa;
    border: solid #aaa 3px;
    border-radius: 15px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 130px;
    height: 70px;
}

.joined-groups {
    border: 1px solid #ccc;
    margin-bottom: 32px;
}

.joined-groups .joined-group:nth-child(even) {
    background-color: #eee;
}

.joined-group {
    background-color: white;
    padding: 8px;
}

.joined-group:hover,
.joined-groups .joined-group:hover:nth-child(even) {
    background-color: #ccc;
}

.joined-title {
    font-weight: 600;
    font-size: larger;
    margin-bottom: 4px;
}

.joined-message {
    font-size: medium;
}

@media (max-width: 500px) {

    .recommendations-title,
    .recommended-join,
    .recommended-tile {
        font-size: 12px;
        width: 90%;
    }
}