#join {
    background-color: #55868c;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 130px;
    height: 70px;
}

#create {
    all: unset;
    background-color: #55868c;
    border-radius: 12px;
    color: white;
    padding: 20px 24px;
    text-align: center;
    font-size: 32px;
}

.title {
    font-size: 32px;
    color: white;
}

.groups {
    margin-top: 5%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-width: 168px;
    border-radius: 12px;
    padding: 16px;
    background-color: #4a4e62;
}