#join {
    background-color: #aaa;
    border: solid #aaa 3px;
    border-radius: 15px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 130px;
    height: 70px;
}

#create {
    all: unset;
    background-color: #ddd;
    border: solid #aaa 3px;
    border-radius: 12px;
    color: #aaa;
    padding: 20px 24px;
    text-align: center;
    font-size: 32px;
}

.title {
    font-size: 32px;
    color: black;
}

.groups {
    margin-top: 5%;
    margin-left: 27.5%;
    margin-right: 25%;
    max-width: 50%;
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-width: 168px;
    border-radius: 12px;
    padding: 16px;
    background-color: #ddd;
    border: solid #aaa 3px;
}

.create {
    margin-top: 1%;
    margin-left: 47.5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}