form{
    margin-left: 40%;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 50px;
}

.field input {
    width: 288px;
    height: 48px;
    border: 1px solid black;
    border-radius: 8px;
}

#join {
        margin-top: 2%;
        width: 50%;
        height: 36px;
        border-radius: 8px;
        border: solid 1px;
        align-items: center;
        display: grid;
        text-align: center;
        padding: 6px 6px;
        background-color: #eeeeef;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: black;
}

@media (max-width: 500px) {
    form {
        margin-left: 10%;
    }
}