body {
    padding: 0px;
    margin: 0px;
    background-color: white;
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.navlink {
    all: unset;
    margin: auto 8px;
}

.navlink:hover {
    cursor: pointer;
}

.separator {
    width: 70%;
    color: rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #666;
}

.footer-left {
    display: flex;
    gap: 16px;
}

.footer a {
    color: inherit;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 150px;
}