.content {
    padding-top: 48px;
    padding-bottom: 48px;
    margin: 32px auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 1366px;
    align-items: center;
    gap: 64px;
}

.content-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 32px;
}

.content-image-shadow {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 16px;
}