#join {
    width: 15%;
    height: 36px;
    border-radius: 8px;
    border: solid 1px;
    align-items: center;
    display: grid;
    text-align: center;
    padding: 6px 6px;
    background-color: #eeeeef;
    margin: 2% auto 250px;
}

a, a:hover, a:visited{
    text-decoration: none;
    color: black;
}