.posts {
    margin: 4px auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    border-radius: 8px;
    padding: 16px;
    background-color: #ddd;
    border: solid #aaa 3px;
}

.card-header {
    color: black;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
    margin-left: 4%;
}

.card-separator {
    height: 1px;
    width: 92%;
    align-self: center;
    background-color: black;
    margin: 8px auto;
}

.card-content {
    color: black;
}