.posts {
    margin: 4px auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    border-radius: 8px;
    padding: 16px;
    background-color: #ddd;
    border: solid #aaa 3px;
}

.card-header {
    color: black;
    display: flex;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.card-header img {
    border-radius: 50%;
    margin-right: 16px;
    border: 1px solid #333;
}

.card-header div {
    margin: auto 0;
}

.card-separator {
    height: 1px;
    width: 92%;
    align-self: center;
    background-color: black;
    margin: 8px auto;
}

.card-content {
    color: black;
}

#new {
    display: none;
}

#notification {
    user-select: none;
    all: unset;
    display: none;
    background-color: rgb(128, 173, 240);
    font-size: large;
    padding: 12px 32px;
    border-radius: 24px;
    position: fixed;
    right: 3%;
    bottom: 3%;
}

#notification:hover {
    background-color: rgb(75, 124, 197);
    cursor: pointer;
}