a, a:hover, a:visited{
    text-decoration: none;
    color: black;
}

h2{
    margin-left: 12%;
}

#btn{
    margin-left: 25%;
    margin-top: 2%;
    width: 50%;
    height: 36px;
    border-radius: 8px;
    border: solid 1px;
    align-items: center;
    display: grid;
    text-align: center;
    padding: 6px 6px;
    background-color: #eeeeef;
}

#form{
    margin-top: 100px;
    margin-bottom: 150px;
}