a, a:hover, a:visited {
    text-decoration: none;
    color: black;
}

h2 {
    margin-top: 100px;
    text-align: center;
}

#form {
    margin-top: 35px;
    margin-bottom: 150px;
}

@media (max-width: 500px) {
    h2 {
        text-align: center;
    }
    table {
        margin-left: auto;
        margin-right: auto;
    }
}